<form class="ui form">
  <h3 class="ui header">新建任务</h3>
  <div class="field">
    <div class="ui slider checkbox">
      <input type="checkbox" name="status" v-model="status">
      <label>{{status ? '开启' : '暂停'}}</label>
    </div>
  </div>
  <div class="field">
    <label>任务名称</label>
    <input type="text" name="name" placeholder="任务名称">
  </div>
  <div class="field">
    <label>Last Name</label>
    <input type="text" name="last-name" placeholder="Last Name">
  </div>
  <div class="field">
    <div class="ui checkbox">
      <input type="checkbox" tabindex="0" class="hidden">
      <label>I agree to the Terms and Conditions</label>
    </div>
  </div>
  <button class="ui button" type="submit">创建</button>
</form>