{
    "Web": "@extend:web.json",
    "Proc": "/cronsun/proc/",
    "Cmd": "/cronsun/cmd/",
    "NodeGroup": "/cronsun/nodeGroup/",
    "Ttl": 10,
    "ReqTimeout": 2,
    "Log": "@extend:log.json",
    "Etcd": "@extend:etcd.json"
}
