{
    "Web": "@extend:web.json",
    "Node": "/cronsun/node/",
    "Proc": "/cronsun/proc/",
    "Cmd": "/cronsun/cmd/",
    "Once": "/cronsun/once/",
    "Group": "/cronsun/group/",
    "Ttl": 10,
    "ReqTimeout": 2,
    "ProcTtl": 600,
    "Log": "@extend:log.json",
    "Etcd": "@extend:etcd.json",
    "Mgo": "@extend:db.json",
    "Security": "@extend:security.json"
}
