{
    "Web": "@extend:web.json",
    "Node": "/cronsun/node/",
    "Proc": "/cronsun/proc/",
    "Cmd": "/cronsun/cmd/",
    "Once": "/cronsun/once/",
    "Lock": "/cronsun/lock/",
    "Group": "/cronsun/group/",
    "Noticer": "/cronsun/noticer/",
    "#Ttl": "节点超时时间，单位秒",
    "Ttl": 10,
    "#ReqTimeout": "etcd 请求超时时间，单位秒",
    "ReqTimeout": 2,
    "#ProcTtl": "执行中的任务信息过期时间，单位秒，0 为不过期",
    "ProcTtl": 600,
    "#ProcReq": "记录任务执行中的信息的执行时间阀值，单位秒，0 为不限制",
    "ProcReq": 5,
    "#LockTtl": "任务锁最大过期时间，单位秒,默认 600",
    "LockTtl": 600,
    "Etcd": "@extend:etcd.json",
    "Mgo": "@extend:db.json",
    "Mail": "@extend:mail.json",
    "Security": "@extend:security.json"
}
