{
  "Hosts": [
    "127.0.0.1:27017"
  ],
  "Database": "cronsun",
  "#AuthSource": "AuthSource Specify the database name associated with the user’s credentials.",
  "#AuthSource": "AuthSource defaults to the cronsun's Database.",
  "#AuthSource": "If connect mongodb like './bin/mongo mytest -u test -p 123 --authenticationDatabase admin' ",
  "#AuthSource": "the AuthSource is 'admin'. ",
  "AuthSource": "",
  "UserName": "",
  "Password": "",
  "#Timeout": "connect timeout duration/second",
  "Timeout": 15
}
