{
    "Endpoints":[
        "http://192.168.11.27:2389",
        "http://192.168.11.28:2389",
        "http://192.168.11.29:2389"
    ],
    "Username":"",
    "Password":"",
    "#DialTimeout":"单位秒",
    "DialTimeout": 2
}
