{
    "BindAddr": ":7079",
    "Auth": {
        "#Enabled": "set to true to open auth. default username and password is admin@admin.com/admin",
		"Enabled": true
	},
    "Session": {
        "StorePrefixPath": "/cronsun/sess/",
        "CookieName": "cronsun_uid",
        "Expiration": 8640000
    },
    "#comment": "Delete the expired log (which store in mongodb) periodically",
    "LogCleaner": {
        "#comment": "if EveryMinute is 0, the LogCleaner will not run",
        "EveryMinute": 0,
        "ExpirationDays": 3
    }
}
